.meme-card {
    cursor: pointer;
    break-inside: avoid;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.meme-card__image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.meme-card img {
    max-width: 100%;
    border-radius: 10px; 
}

.meme-card__image-edit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    color: white;
}

.meme-card__image-edit span {
    font-weight: bold;
    font-size: 20px;
}