.meme_card {
    cursor: pointer;
    break-inside: avoid;
    width: 100%;
    margin-bottom: 20px;
}

.meme_card:hover {
    opacity: 0.8;
}

.meme_card img {
    max-width: 100%;
    border-radius: 10px; 
}